COMMERZA_APP_URL=http://localhost/commerza

COMMERZA_DB_HOST=localhost
COMMERZA_DB_USER=root
COMMERZA_DB_PASS=
COMMERZA_DB_NAME=commerza

COMMERZA_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
COMMERZA_GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
COMMERZA_GOOGLE_REDIRECT_URI=http://localhost/commerza/oauth.php?provider=google

COMMERZA_FACEBOOK_CLIENT_ID=YOUR_FACEBOOK_CLIENT_ID
COMMERZA_FACEBOOK_CLIENT_SECRET=YOUR_FACEBOOK_CLIENT_SECRET
COMMERZA_FACEBOOK_REDIRECT_URI=http://localhost/commerza/oauth.php?provider=facebook

STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY

COMMERZA_CART_WISHLIST_EXPIRY_HOURS=72

COMMERZA_SMTP_HOST=smtp.gmail.com
COMMERZA_SMTP_PORT=587
COMMERZA_SMTP_ENCRYPTION=tls
COMMERZA_SMTP_USERNAME=YOUR_SMTP_USERNAME
COMMERZA_SMTP_PASSWORD=YOUR_SMTP_PASSWORD
COMMERZA_SMTP_FROM_EMAIL=YOUR_SENDER_EMAIL
COMMERZA_SMTP_FROM_NAME=Commerza

COMMERZA_CAPTCHA_REQUIRED=1
COMMERZA_CAPTCHA_ENABLED=1
COMMERZA_CAPTCHA_BYPASS_LOCAL=0

COMMERZA_ADMIN_RESET_KEY=SET_A_LONG_RANDOM_ADMIN_RESET_KEY
COMMERZA_OAUTH_STRICT_SSL=0
